*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-image: url(carpanter.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}
   .h1{
    color: rgba(209, 131, 14, 0.863);
   } 
   .h1:hover{
    color:black;
    
   }

.time{
    display: flex;
    justify-content:space-between;
   background-color: aliceblue;
    color: rgb(82, 79, 79);
    padding: 20px;
}
.clock{
    display: flex;
    gap: 20px;
}
.phone{
    display: flex;
    gap: 20px;
}

#navbar nav ul{
    display: flex;
    justify-content:center;
    background-color: white;
    padding: 20px;
    list-style: none;
    gap: 90px;
    
}
#navbar nav ul li a{
    text-decoration:none;
    color: rgb(36, 32, 32);
}
#navbar nav ul li a:hover{
    
    color: rgba(209, 131, 14, 0.863);
}
#mainpage{
    text-align: center;
    margin-top: 180px;
    font-size: 35px;
    color: white;
   

}

.btn a{
    text-decoration: none;
    color: white;
    background-color:rgba(209, 131, 14, 0.863);
    padding:10px;
    gap:40px;
    font-size: 25px;
}