*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-image: url(coffeehome.webp);
    background-size: cover;
    background-repeat: no-repeat;
}
/* .home{ */
    /* background-image: url(coffeehome.webp); */
    
    /* height: auto; */
/* } */
#navbar ul {
    display: flex;
    justify-content:center;
    list-style: none;
    gap: 60px;
    font-size: 20px;
    
}
#navbar nav ul li a{
    text-decoration: none;
    color: white;
    
    

}
.main{
    margin-top: 240px;
    text-align: center;
    color: white;
    font-size: 30px;
}