*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.tel{
    display: flex;
    justify-content: space-between;
   
}
.tel2{
    display: flex;
    gap: 30px;
    margin-top: 30px;

}
.h1{
    border: 3px solid black;
    padding: 0px 30px;
    margin-left: 30px;
    margin-top: 20px;
}

#navbar{
    
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px;
   
    
    }


#navbar nav ul{
    display: flex;
    gap: 50px;
    list-style: none;
}

#navbar nav ul li a{
    text-decoration: none;
    color: black;
}



/* main section :start from here */

#firstpage{
     width: 100%;
     height: 100vh;
    background-color: blue;
    
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#firstpage .div1{
    width: 50%;
    color: white;
    font-size: 30px;
    margin-left: 30px;
    line-height: 40px;
    
}
#firstpage .color{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: center;
    
   
}





#firstpage .div2{
    width: 50%;
    margin-left: 50px;
    
}

#firstpage .btn{
    line-height: 30px;
    font-size: 30px;
    color: blue;
    background-color: white;
    border: none;
    padding: 20px;
    
}