*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* part1 start from here  */
.part1{
    background-color: rgb(12, 11, 11);
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-size: 20px;
    color: white;
}
/* header start from here */
#navbar ul{
    display: flex;
    justify-content:center; 
    gap: 70px;
    background-image: url(security.jpg);
    

    
}
.guard{
    align-items: center;
    color: white;
}
#navbar nav ul li a{
    text-decoration: none;
    
    
}
#navbar nav ul li{
    list-style: none;
}
